.header {
  background-color: #4267b2;
  height: 43px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: fixed;
  width: 100%;
}

.logo-search {
  padding-left: 11rem;
  display: flex;
  align-items: center;
  width: 35%;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.search-box {
  width: 100%;
}

.fa-facebook-square {
  padding-right: 0.4rem;
  color: white;
  font-size: 1.7rem;
}

.search-btn {
  border: none;
  border-style: none;
  height: 54%;
  background-color: #F8F8F8;
}

.fa-search {
  color: #787878;
}

.user-zone {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  justify-content: space-around;
  width: 25%;
  padding-right: 9%;
  flex-wrap: nowrap;
}

.v-line {
  border-left: 1px solid #535353;
  height: 20px;
  opacity: 0.5;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.user,
.link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
}

.user-img {
  max-height: 25px;
  max-width: 25px;
  border-radius: 50%;
  padding-right: 0.5rem;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.icon-item {
  color: #242323;
  font-size: 1.2rem;
  opacity: 0.90;
}

.container {
  display: grid;
  grid-template-columns: 11rem 33rem 19rem;
  grid-column-gap: 1rem;
  padding: 11rem;
  padding-top: 3.6rem;
  grid-template-areas: "side posts events";
}

.side {
  grid-area: side;
}

.side-img::before {
  font-size: 1.5rem;
  vertical-align: middle;
  padding-right: 0.6rem;
}

.side-link {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  font-size: 0.8rem;
  height: 32px;
  line-height: 32px;
}

.posts {
  grid-area: posts;
}

.my-post, .news-feed-post, .story-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffffffe3;
  border-radius: 0.4rem;
  border: 1px solid #dddfe2;
}

.my-post > button, .news-feed-post > button, .story-container > button {
  display: block;
  width: 10%;
  border: 0;
  padding: 5px 10px;
  font-size: 14px;
  margin-top: 5px;
}

.new-post-header {
  height: 2rem;
  width: 100%;
  border-bottom: 1px solid #dddfe2;
  font-weight: bold;
  background-color: #f6f7f9;
  align-items: center;
  font-size: 0.8rem;
}

.new-post-header-items, .new-post-header-item {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  color: #4b4f56;
  width: 70%;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
}

.new-post-header-item {
  width: auto;
  padding: 0.5rem;
}

.new-post-header-item > span {
  margin-left: 0.3rem;
}

.new-post-content,
.post-header,
.story {
  display: flex;
  width: 100%;
  align-items: center;
  height: 5rem;
  font-size: 0.9rem;
  color: #797474;
}

.new-post-content > textarea,
.post-header > textarea, .story > textarea {
  border: none;
  overflow: auto;
  outline: none;
  display: block;
  width: 600px;
  padding: 5px;
  font-size: 14px;
  background: transparent;
}

.new-post-content.post-header, .new-post-content.story,
.post-header.post-header,
.story {
  margin-top: 1rem;
}

.h-line {
  display: flex;
  align-content: center;
  justify-content: center;
}

.h-line > div {
  border-bottom: 1px solid #dddfe2;
  height: 0.5rem;
  width: 90%;
}

.post-content {
  background-color: #ffffffe3;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 100%;
  align-items: center;
  font-size: 0.9rem;
  color: #797474;
}

.post-content > span,
.post-content .post-image {
  width: 95%;
  margin-bottom: 1rem;
}

.new-post-user-image, .story-user-image {
  align-self: center;
  max-height: 40px;
  max-width: 40px;
  border-radius: 50%;
  vertical-align: middle;
  padding-right: 0.5rem;
  padding-left: 1rem;
}

.add-to-post {
  grid-area: posts;
  display: flex;
  width: 100%;
  align-self: center;
  align-items: center;
  height: 3rem;
  font-size: 0.9rem;
  color: #797474;
  border-top: none;
}

.add-item,
.add-feeling {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f7f9;
  border-radius: 3rem;
  width: 25%;
  margin: 0.1rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: #4b4f56;
  height: 32px;
  line-height: 32px;
}

.fa-smile {
  color: #f5c907;
  font-size: 1rem;
  padding-right: 0.5rem;
}

.add-item > .fa-images {
  color: #415ca5;
  font-size: 1rem;
  padding-right: 0.5rem;
}

.add-item:last-child {
  width: 7%;
}

.news-feed-post {
  margin-top: 0.8rem;
}

.post-header, .story {
  display: grid;
  width: 100%;
  height: 3.5rem;
  grid-template-rows: repeat(2, 1.3rem);
  grid-template-columns: 4rem 28rem;
  grid-template-areas: "image name" "image time";
}

.user-name {
  grid-area: name;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  color: #365899;
  text-decoration: none;
}

.time-stamp {
  grid-area: time;
  font-size: 0.7rem;
}

.post-header > .new-post-user-image, .story > .new-post-user-image, .post-header > .story-user-image, .story > .story-user-image {
  grid-area: image;
  grid-row: 1 / span 2;
}

.events {
  grid-area: events;
}

.story-container {
  justify-content: space-around;
  padding: 0.5rem;
}

.story-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-content: center;
  color: #616770;
  font-size: 13px;
  font-weight: 600;
  width: 95%;
}

.story-header ~ .fa-ellipsis-h {
  font-size: 15px;
}

.story {
  grid-template-columns: 4rem 9rem;
  border: none;
  margin: 0;
  padding: 0;
  background-color: #ffffffe3;
}

body {
  background: #E8E8E8;
  font-family: Arial, Helvetica, sans-serif;
}
